+include-script('kufar-menu')
+include-style('kufar-menu')
.kufar-menu
	.container
		+nav2(
			{
				wrap: 'header-menu',
				title: '',
				compress: false,
				list: [
					{
						name: 'О студии',
						list:[
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
					{
						name: 'Услуги',
						active: true,
						list:[
														{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
					{
						name: 'Наши работы',
						list:[
														{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
							},
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
					{
						name: 'Модули SLAM',
						list:[
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
					{
						name: 'Почитать',
						list:[
						{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
					{
						name: 'Контакты',
						list:[
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
										{
						name: 'Услуги',
						list:[
														{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},

							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
										{
						name: 'Наши работы',
						list:[
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							},
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},

						]
					},
										{
						name: 'О студии',
						list:[
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
										{
						name: 'О студии',
						list:[
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
					{
						name: 'Услуги',
						list:[
														{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
					{
						name: 'Наши работы',
						list:[
														{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
							},
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
										{
						name: 'О студии',
						list:[
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
					{
						name: 'Услуги',
						list:[
														{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
								
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
					{
						name: 'Наши работы',
						list:[
														{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
							},
								{	name: 'Разработка сайтов на 1С битрикс',
								list: [
									{name: 'Купить лицензию 1С-Битрикс'},
									{name: 'Создание корпоративных сайтов'},
									{name: 'Создание интернет-магазинов'},
									{name: 'Создание медиа-порталов и новостных сайтов'},
									{name: 'Создание спортивных сайтов'},
									{name: 'Создание финансовых сервисов'},
									{name: 'Создание сайтов для рекламных акций'},
									{name: 'Создание промо-сайтов'},
									{name: 'Создание высоконагруженных проектов'},
								]
							},
							{	name: 'Внедрение Битрикс24',
								list: [
									{name: 'Купить лицензию Битрикс24'},
									{name: 'Автоматизация отдела продаж'},
									{name: 'Организация проектного менеджмента'},
									{name: 'Управление персоналом'},
									{name: 'Настройка электронного документооборота в компании'},
								]
							},
							{	name: 'Обслуживание и поддержка сайтов',	
								list: [
									{name: 'Адаптивная верстка'},
									{name: 'Оптимизация и ускорение сайта'},
									{name: 'Техническая поддержка сайтов на 1С-Битрикс'},
									{name: 'Комплексный аудит сайта'},
									{name: 'Синхронизация сайта с 1С и другими системами учета'},
									{name: 'Техническая SEO-оптимизация'},
								],
							},
							{	name: 'Дизайн проектов',	
								list: [
									{name: 'Дизайн сайтов'},
									{name: 'Дизайн мобильных приложений'},
									{name: 'Дизайн интерфейсов'},
									{name: 'Разработка презентаций'},
								],
							},
							{	name: 'Мобильная разработка',	
								list: [
									{name: 'Приложения под iOS и Android'},
									{name: 'Приложения с дополненной реальностью'},
								],
							},
							{	name: 'Разработка игр',	
								list: [
									{name: 'Корпоративные игры и открытки'},
									{name: 'Мобильные игры'},
									{name: 'Playable ads'},
								],
							},
							{	name: 'Виртуальная реальность',	
								list: [
									{name: 'Игры для виртуальной реальности'},
									{name: 'Виртуальные презентации'},
									{name: 'Ролики и игры для симуляторов и аттракционов'},
								],
							},
							{	name: 'Креативные проекты',	
								list: [
									{name: 'Разработка масок для Instagram'},
									{name: 'Разработка стикеров для социальных сетей'},
								],
							}
						]
					},
				]
			}
		)