.header-menu {
	position: relative;
}

.nav-list {
	width: 15%;
	padding-top: 50px;
	// position: relative;
	.nav-item {
		display: block;
		padding: 5px 0px;
		// background-color: rgba(0,0,0,0.1);
		.nav-link {
			color: #7a4281;
			&:hover{
				text-decoration: none;
			}
		}

		&.active {
			background-color: rgba(0,0,0,0.1);
			.nav-link {
				color: #e48023;
			}
			.nav-lvl2 {
				display: block;
			}
		}
	}
}

.nav-lvl2 {
	display: none;
	transition: all .3s ease;
	position: absolute;
	left: 15%;
	background-color: #fff;
	top: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	z-index: 15;
	width: 85%;
	&-list {
		display: flex;
		flex-wrap: wrap;
	}
	&-item {
		width: 25%;
	}
	&-link {
		display: block;
		font-family: Circle;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 15px;
		font-family: Circe-Bold, Helvetica, Arial, sans-serif;
		color: transparent;
		background: linear-gradient(to right, #7a4281 0, #e48023 100%);
		-webkit-background-clip: text;
		background-clip: text;
		min-height: 2.4em;
	}
	.nav-lvl2-item {
		padding: 25px 20px;
	}
	.nav-lvl3 {
		&-link {
			display: block;
			margin-top: 14px;
			color: #7a4281;
			text-decoration: none;
			&:hover {
				text-decoration: none;
				color: #e48023;
			}
		}
		&-item-name {
			line-height: 1.1;
		}
	}
}
