extends ../layout/layout

block vars
	- var bodyClass = ''
	- var footerClass = ''
	- var headerClass = ''
	- var pageTitle = 'Главная'
	- var dir = './'
	- var layout = ''
	- var componentsList = []
	- var componentsCriticalList = []
	- var componentsScriptsList = []
	- var vendorScriptsList = []

block main
	include ../components/kufar-menu/kufar-menu
	.no-critical


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()

block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
