@import "../../assets/css/common/components-import";

.content {
	font-size: $c-size;
	line-height: 1.875;

	p {
		font-size: 16px;
		line-height: 1.3;
		color: #282828;
		margin-bottom: 24px;
	}
}

svg {
	display: block;
	width: 100%;
	height: 100%;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		text-decoration: none;
		outline: none;
	}
}

