- var $svg = ["facebook-icon", "fb-footer", "fb", "i-speed", "idn-footer", "in", "inst-footer", "inst", "instagram-icon", "service-card-footer_1", "service-card-footer_2", "service-list_icon_1", "tg-footer", "vk-footer"]